*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
::selection{
    color: white;
    background-color: #222;
}



.portfolio-container {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}
.portfolio-container img{
    margin-bottom: 30px;
    overflow: hidden;/*
    min-height: 260px;*/
    max-width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main{
    position: relative;
    height: 100%;
    width: 100%;
}
.menu{
    text-align: center;
}
.menu ul li{
    font-family: poppins;
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    border-radius: 50px;/*
    border: 1px solid tomato;*/
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    /*
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    */
}
/*
.menu ul li:hover{
    background: #333;
    color: white;
    border-radius: 50px;
}
*/
.menu ul li.active{
    background: #333;
    color: white;
    border-radius: 4px;
    padding-bottom: 0px;
}
.menu ul li:first-child {
    margin-top: 0;
}
.menu ul li::after {
    display: block;
    content: '';
    border-bottom: solid 3px #000;
    padding: 5px 0px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: 100% 50%;
}
.menu ul li:hover::after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}
.menu ul li:nth-child(1) {
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    -ms-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.menu ul li:nth-child(2) {
    -webkit-transition-delay: 0.10s;
    -moz-transition-delay: 0.10s;
    -ms-transition-delay: 0.10s;
    -o-transition-delay: 0.10s;
    transition-delay: 0.10s;
}

.menu ul li:nth-child(3) {
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.menu ul li:nth-child(4) {
    -webkit-transition-delay: 0.20s;
    -moz-transition-delay: 0.20s;
    -ms-transition-delay: 0.20s;
    -o-transition-delay: 0.20s;
    transition-delay: 0.20s;
}

.menu ul li:nth-child(5) {
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.main h1{
    position: relative;
    height: auto;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0 2% 0;
    text-align: center;
    font-size: 2.8em;
    font-weight: 650;
    letter-spacing: 1.5px;
    color: darkslategrey;
}
.main p{
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #777777;
}
.main .gallery{
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense;
}
.main .gallery .img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
/*
.main .gallery .img:first-child{
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.main .gallery .img:nth-child(2n+3){
    grid-row-start: span 2;
}
.main .gallery .img:nth-child(4n+5){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.main .gallery .img:nth-child(6n+7){
    grid-row-start: span 1;
}
.main .gallery .img:nth-child(8n+9){
    grid-column-start: span 1;
    grid-row-start: span 1;
}*/
.main .gallery .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(1) grayscale(0);
    transition: 0.3s ease-in-out;
}
.main .gallery .img:hover img{
    filter: brightness(0.9) grayscale(100);
}
@media only screen and (max-width: 768px){
    .main .gallery{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (max-width: 425px){
    .main .gallery{
        display: grid;
        grid-template-columns: auto;
    }
    .main .gallery .img{
        display: block;
        width: 100%;
        height: 100%;
        margin: 2% 0;
        box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.4);
    }
    .main .gallery .img img{
        display: block;
        filter: brightness(1) grayscale(0);
    }
}

/***********************
        arrow-up
***********************/
#scroll-to-top {
    cursor: pointer;
    z-index: 1;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    right: 15px;
    background-color: #ffffff;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    bottom: -300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}
 
.arrow {
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
    top: 3px;
}
  
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/***********************
        arrow-up
***********************/

/**************
    footer
***************/
#footer {
    background: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px;
    bottom: 0;
  }
  #footer .socials-media {
    width: 100%;
  }
  .text-center {
    text-align: center!important;
  }
  #footer .socials-media ul {
    display: inline-flex;
    float: none;
    margin: 0 0 20px 0;
  }
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  @media (max-width: 600px){
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  @media (max-width: 767px){
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  #footer .socials-media ul li {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
  }
  #footer .socials-media ul li a {
    font-size: 24px;
    color: #999;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  #footer .socials-media ul li a:hover {
      color: #b8a07e;
      background: transparent;
      text-transform: uppercase;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  #footer p {
    margin: 25px 0;
    padding: 0;
    color: #999999;
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
  }
  .credits {
    font-size: 13px;
  }
  .credits a{
      color: #292929;
      text-decoration: none;
      text-transform: uppercase;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }
  .credits a:hover{
      color: #b8a07e;
      text-decoration: none;
      background: transparent;
      text-transform: uppercase;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }
  /**************
      footer
  ***************/